<!DOCTYPE html>
<html>
  <head>
    <title>ClockAngle!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
      <h1>Your clock angle is @Model.GetAngle()</h1>

  </body>
</html>
