<!DOCTYPE html>
<html>
  <head>
    <title>Clock Angle</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Time</h1>
    <form action="/Angle">
      <label for="hour">Enter hour!</label>
      <input id="hour" name="hour" class="form-control" type="text">
      <label for="minute">Enter minute!</label>
      <input id="minute" name="minute" class="form-control" type="text">
      <button type='submit' class='btn'>Go!</button>
    </form>
  </body>
</html>
